    <!--Footer-->
    <footer class="page-footer center-on-small-only stylish-color-dark">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-4">
                    <h5 class="title mb-4 mt-3 font-bold">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                </div>
                <!--/.First column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Second column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold">FrontEnd</h5>
                    <ul>
                        {{#each frontEndLinks}} 
                        <li class="nav-item {{#if this.isActive}}active{{/if}}">
                        <a class="nav-link" href="{{this.url}}">{{this.label}}</li>
                        {{/each}}
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Third column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold">Bootstrap</h5>
                    <ul>
                        {{#each bootstrapLinks}}
                        <li class="nav-item {{#if this.isActive}}active{{/if}}">
                        <a class="nav-link" href="{{this.url}}">{{this.label}}</li>
                        {{/each}}
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Fourth column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold ">React</h5>
                    <ul>
                        {{#each reactLinks}}
                        <li class="nav-item {{#if this.isActive}}active{{/if}}">
                        <a class="nav-link" href="{{this.url}}">{{this.label}}</li>
                        {{/each}}
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.sitepoint.com"> SitePoint.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->